.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 470px;
  height: 450px;
  background-color: #fff;

  border-radius: 15px;
}

.modal-header, .modal-footer {
  padding: 20px 50px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-footer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.modal-title {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
  margin-top: 16px;
}

.input-modal {
  display: flex;
  border: #fff;
  background-color: #F1F1F1;
  width: 380px;
  height: 40px;
  
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  color: #5E5E5E;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;

  margin: auto;
  margin-bottom: 25px;
}

.input-modal::placeholder {
  color: #5E5E5E;
  font-weight: bold;
  font-size: 15px;
}

.button-modal {
  cursor: pointer;
  border: none;
  display: flex;
  height: 50px;
  width: 390px;
  background-color: #E86120;
  border-radius: 12px;
  align-items: center;
  margin-top: 10px;
  transition: background-color 0.2s;
  
  align-self: center;
  justify-content: center;
}

.button-modal:hover {
  background-color: rgba(232, 97, 32, 85%);
}

.button-modal-close {
  cursor: pointer;

  display: flex;
  border: none;
  margin-top: 10px;
  height: 23px;
  width: 23px;
  background: none;

  align-self: center;
  justify-content: center;

  transition: height width 0.3s;
}

.button-modal-close img:hover {
  height: 18px;
  width: 18px;
}

.button-modal-close img {
  height: 16px;
  width: 16px;
}

.button-modal p {
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  margin: auto;
}

.button-modal-random {
  cursor: pointer;
  border: none;
  display: flex;
  height: 50px;
  width: 390px;
  background-color: #E86120;
  border-radius: 12px;
  align-items: center;
  display: flex;
  margin: auto;

  margin-top: -32px;
  transition: background-color 0.2s;
}

.button-modal-random p {
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  margin: auto;
}


.button-modal-random:hover {
  background-color: rgba(232, 97, 32, 85%);
}


