h1, h2, h3, h4, h5 {
  font-size: none;
  font-weight: none;
}
/* 
.App {
  display: flex;
  justify-content: space-between;
  margin: 100px;
} */

body {
  background-color: #1F2232;
  -webkit-font-smoothing: antialiased;
  background-image: url("./assets/background-image.png");
  background-repeat: no-repeat;
  background-position: 110% 30px, center bottom, center 50px;
  z-index: 1040;
}

img {
  width: 240px;
}
